###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [2]:
a = [1,2,3,4]
a

[1, 2, 3, 4]

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [3]:
# Method 1 
a.remove(3)
a

[1, 2, 4]

In [6]:
a = [1,2,3,4]
a

[1, 2, 3, 4]

In [7]:
# Method 2
a.pop(-2)
a

[1, 2, 4]

In [9]:
# Method 3
a = [1,2,3,4]
a
a.pop(2)
a

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [10]:
a = [1,2,3,4]
a
a.pop(-1)

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [11]:
         # removes zeroth position
a = [1,2,3,4]
a
a.pop(0)

1

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [12]:
# Method1
a = [2]
a
a.extend([3,4])
a

[2, 3, 4]

In [14]:
#Method 2
a = [1,2,3,4]
a
a.pop(0)
a

[2, 3, 4]

**Insert number "1" in 0th position**

In [16]:
a = [2,3,4]
a
a.insert(0,1)
a

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [17]:
a = [1,2,3,4]
a
a.insert(2,'two-and-half')
a

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [7]:
plist = "Don't panic!"
plist

"Don't panic!"

*convert into list*

In [8]:
list(plist)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [9]:
plist = "Don't panic!"
plist

"Don't panic!"

In [10]:
y = list(plist)
y
z = y.pop(3),y.pop(-1)
z
print(y)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [11]:
plist = list("Don't panic!")
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [12]:
plist.remove('p')
plist.remove('a')
plist.remove('n')
plist.remove('D')

In [13]:
plist

['o', "'", 't', ' ', 'n', 'i', 'c', '!']

In [14]:

plist.extend(["p","a","n","D"])
plist

['o', "'", 't', ' ', 'n', 'i', 'c', '!', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [15]:

x = plist[8:]
x

['p', 'a', 'n', 'D']

['p', 'a', 'n', 'D']

- append list

In [16]:
x.append("a")
x

['p', 'a', 'n', 'D', 'a']

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [4]:
# CODE HERE

a = (31,24,35,85)
a

(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [20]:
# CODE HERE
a = (31,24,35,85)
a
b = list(a)
b
b.pop(-2)
tuple(b)

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [24]:
# CODE HERE
b = [31,24,85]
b

[31, 24, 85]

In [25]:
b.extend([85,19])
tuple(b)

(31, 24, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [125]:
l = [5,2,3,6,6,5]
l = list(set(l))

In [127]:
 l[-2]

5

In [2]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [4]:
# CODE HERE
t =[12,24,35,70,88,120,155]
t.remove(12)
t.remove(88)
t.remove(120)
t

[24, 35, 70, 155]

In [3]:
# CODE HERE

[24, 35, 70, 155]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [13]:
tuplex=(1,2,3,4,5,6,7,8,9,10)
tuple1 = tuplex[:5]
tuple2 =tuplex[5:]
print(tuple1)
print(tuple2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [1]:
tup= (1,2,3,4,5,6,7,8,9,10)
tup1 = tup[1::2]
print(tup1)

(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)